.list-group-container,
.create-post {
    padding: 30px;
}

.create-post {
    background-color: #FFF;
    border-radius: 10px;
    margin-top: 40px;
}

button .lds-ring {
    width: 40px;
    height: 30px;
}

button .lds-ring div {
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    border-color: #fff transparent transparent transparent;
}

button:disabled {
    cursor: not-allowed;
}

.post-view {
    position: relative;
    min-height: 200px;
}
.posts-loading {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.posts-loading .lds-ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.dont-have-posts {
    background: #FFF;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}
.center-home {
    width: 600px;
    margin: auto
}
.list-group-container {
    position: relative;
}
.loading-overlay {
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}
.loading-overlay .lds-ring {
    width: 180px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading-overlay .lds-ring > div {
    width: 180px;
    height: 180px;
}

ul {
    list-style: none;
}